<a href="https://colab.research.google.com/github/CiaraFarrellSETU/phd/blob/main/classID_count.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import geopandas as gpd

In [ ]:
shapefile_path = "/content/Pollardstown_clappied.shp"
gdf = gpd.read_file(shapefile_path)

In [ ]:
print("Columns:", gdf.columns)

Columns: Index(['Id', 'NFS_Code', 'NFS_Name', 'County', 'Co_Code', 'Area_sqm',
       'Area_ha', 'Poly_Num', '7140', '7210', '7230', '6410', '6430', '91E0',
       'OtherAnnex', 'PF1', 'PF2', 'PF3', 'FS1', 'FS2', 'GS1', 'GS2', 'GS3',
       'GS4', 'GM1', 'GA1', 'WS1', 'WN2', 'WN4', 'WN6', 'WN7', 'WL1', 'WL2',
       'PB1', 'PB2', 'PB3', 'PB4', 'PB5', 'FW4', 'HH3', 'OtherFossi',
       'SumAnnex', 'SumFossit', 'DataQual', 'Anx_Mapped', 'Non_Anx_PF',
       'PRIMARY_FO', 'Anx_perc', 'Anx_perc_l', 'geometry'],
      dtype='object')

In [ ]:
if 'id' in gdf.columns:
    unique_ids = gdf['id'].nunique()
    print(f"Number of unique IDs: {unique_ids}")
else:
    # If no explicit ID column, count total features
    total_features = len(gdf)
    print(f"Number of features (rows): {total_features}")

Number of features (rows): 37

In [ ]:
unique_ids = gdf['Id'].nunique()
print(f"Number of unique IDs: {unique_ids}")

Number of unique IDs: 13

In [ ]:
print("Unique IDs:", gdf['Id'].unique())

Unique IDs: [19 15 10  9 12  2 18 13 20 16 14 17 11]

In [ ]:
for col in gdf.columns:
    unique_count = gdf[col].nunique()
    print(f"Column '{col}' has {unique_count} unique values")

Column 'Id' has 13 unique values
Column 'NFS_Code' has 1 unique values
Column 'NFS_Name' has 2 unique values
Column 'County' has 1 unique values
Column 'Co_Code' has 1 unique values
Column 'Area_sqm' has 37 unique values
Column 'Area_ha' has 37 unique values
Column 'Poly_Num' has 37 unique values
Column '7140' has 1 unique values
Column '7210' has 7 unique values
Column '7230' has 10 unique values
Column '6410' has 4 unique values
Column '6430' has 2 unique values
Column '91E0' has 3 unique values
Column 'OtherAnnex' has 0 unique values
Column 'PF1' has 13 unique values
Column 'PF2' has 1 unique values
Column 'PF3' has 1 unique values
Column 'FS1' has 14 unique values
Column 'FS2' has 2 unique values
Column 'GS1' has 1 unique values
Column 'GS2' has 3 unique values
Column 'GS3' has 1 unique values
Column 'GS4' has 10 unique values
Column 'GM1' has 1 unique values
Column 'GA1' has 2 unique values
Column 'WS1' has 10 unique values
Column 'WN2' has 1 unique values
Column 'WN4' has 1 unique values
Column 'WN6' has 5 unique values
Column 'WN7' has 1 unique values
Column 'WL1' has 2 unique values
Column 'WL2' has 5 unique values
Column 'PB1' has 6 unique values
Column 'PB2' has 1 unique values
Column 'PB3' has 1 unique values
Column 'PB4' has 1 unique values
Column 'PB5' has 1 unique values
Column 'FW4' has 3 unique values
Column 'HH3' has 1 unique values
Column 'OtherFossi' has 1 unique values
Column 'SumAnnex' has 14 unique values
Column 'SumFossit' has 1 unique values
Column 'DataQual' has 2 unique values
Column 'Anx_Mapped' has 9 unique values
Column 'Non_Anx_PF' has 1 unique values
Column 'PRIMARY_FO' has 13 unique values
Column 'Anx_perc' has 14 unique values
Column 'Anx_perc_l' has 12 unique values
Column 'geometry' has 37 unique values

In [ ]:
freq_table = gdf['PRIMARY_FO'].value_counts()

# Print the frequency table
print(freq_table)

# If you want it as a DataFrame for nicer formatting:
freq_df = freq_table.reset_index()
freq_df.columns = ['Habitat Type', 'Count']
print

PRIMARY_FO
PF1        12
GS4         6
FS1         6
WN6/FS1     2
WN6         2
FS1/PF1     2
GA1         1
GS4/FS2     1
FS1/FS2     1
WS1/WL2     1
GS4/WS1     1
GS4/FS1     1
WL2         1
Name: count, dtype: int64

PF1 → Semi-natural coniferous woodland

GS4 → Wet grassland

FS1 → Reed and large sedge swamps

WN6 → Wet willow-alder-ash woodland

WL2 → Lakes (mesotrophic/eutrophic depending on subtype)

GA1 → Improved agricultural grassland

FS2 → Tall-herb swamps

WS1 → Scrub (willow scrub)